<h1 align="center">All articles</h1>

<%= render "show_articles", obj: @articles%>

<!--show up only if there are enough articles to next page-->
<div align="center"><%= will_paginate @articles%></div>