<!DOCTYPE html>
<html>
    <head>
        <title>master Title !!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    </head>
    <body>
        
        <div class="container" style="margin-top:100px">
            <div class="jumbotron">
                <h1><i class="fa fa-info-circle" aria-hidden="true"></i> This is my about page!</h1>
                <a class="btn btn-danger btn-large" href="/">Home</a>
            </div>
            <%= link_to("Home",root_path)%>
        </div>
        
    </body>
</html>


