
<div class="jumbotron">
    <h1><i class="fa fa-home" aria-hidden="true"></i> Welcome to the blog page!</h1>
    <a class="btn btn-primary btn-lg" href="#">Sign in!</a>
</div>
<!--<%= link_to("About",about_path)%>-->

