<h1 align="center">
   Category: <%=@category.name%>
   <% if logged_in? && current_user.admin? %>
      <a href="/categories/<%=@category.id%>/edit">
         <i class='fa fa-pencil' aria-hidden='true'></i>
      </a>
   <% end %>
</h1>
<br>

<%= render "articles/show_articles", obj: @category_articles%>

<!--show up only if there are enough articles to next page-->
<div align="center"><%= will_paginate @category_articles%></div>